{% extends 'shop/layouts/main.html'%}

{%block title%}
Shopkart | Online Shopping
{%endblock title%}

{% block content %}

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4">Awesome Products</h4>
                <hr>
            </div>
            {% for item in products %}
            <div class="col-lg-3 col-md-4">
                <div class="card my-3">
                    <img src="{{ item.product_image.url }}" alt="Category Image" class="card-image-top display">
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">
                                <span class="old-price float-start"><s>Rs. {{item.original_price | stringformat:'d'}}</s></span>
                                <span class="new-price float-end ">{{item.selling_price | stringformat:'d'}}</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
